<div class="container" *ngIf="hero">
  <h2>Detalles de: {{hero.name | uppercase}}</h2>
  <div><span>ID: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Nombre de la comida: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Nombre de la comida"/>
  </div>
  <!-- Mostrar la imagen del héroe -->
  <div>
    <h3>Imagen: </h3>
    <img [src]="hero.img" alt="{{hero.name}} Image">
  </div>
  <button type="button" (click)="goBack()">Volver</button>
</div>
