/* DashboardComponent's private CSS styles */
.container {
  background-color: #eeeeee83; /* Color de fondo del contenedor */
  padding: 20px; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-top: 50px; /* Añadido: separación superior */
}

h2 {
  text-align: center;
  color: #00ADB5; /* Cambia el color del título */
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  margin-bottom: 10px; /* Añade espacio inferior al título */
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
}

a {
  background-color: #00ADB5; /* Cambia el color de fondo de los botones */
  border-radius: 4px; /* Añade bordes redondeados */
  padding: 10px 20px; /* Añade espacio interno */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  text-decoration: none;
  color: #fff; /* Cambia el color del texto */
  margin: 10px; /* Añade margen entre los botones */
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
  text-align: center; /* Centra el texto horizontalmente */
}

@media (min-width: 600px) {
  a {
    width: calc(33.33% - 20px); /* Calcula el ancho de cada enlace */
  }
}

a:hover {
  background-color: #008188; /* Cambia el color de fondo al pasar el ratón */
}
